.footer {
  background-color: #ffffff;
  border-top: 1px solid #ff6b6b;
  padding: 1 rem 1 rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  white-space: nowrap;
}
.logo {
  margin-top: 8px;
}
