.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  padding: 20px;
}

.iconWrapper svg {
  margin: 10;
  width: 80px !important;
  height: 80px !important;
  color: #ff6b6b;
  stroke-width: 2px;
}

.errorCode {
  font-size: 5rem;
  margin: 0;
  color: black;
}

.message {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 10px;
}
