.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 8px;
}
.header {
  font-size: xx-large;
}
.grid1 {
  padding: 15px;
  text-align: center;
}
.grid2 {
  padding: 15px;
  text-align: left;
}
.img {
  width: 550px;
  height: 450px;
  border-radius: 5%;
}
.list {
  text-align: left;
}
.headerLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.favorites {
  display: flex;
  align-items: center;
}
